# =============================================================================
# Docker Compose 配置文件
# 用于部署和随机图API服务
# =============================================================================
services:
  # 随机图API核心服务
  random-pictures:
    # 构建配置
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/yunjian101/random-pictures:latest
    container_name: random-pictures                 # 容器名称，便于管理
    ports:
      - "8081:8081"                                 # 端口映射：主机端口:容器端口
    volumes:
    #通常情况下挂在/app/images文件夹到本地就行，不用挂载/app
    # - ./images:/app/images
      - ./:/app
    restart: unless-stopped
    # 重启策略：除非手动停止，否则容器退出后自动重启
    environment:
      # ========== 基础配置 ==========
      - DATABASE_URL=postgresql://postgres:postgres@192.168.11.3:5432/random_pictures  
      # 数据库连接URL：格式为 postgresql://用户名:密码@主机:端口/数据库名
